{{ if eq .chezmoi.hostname "rig" }}{
    (
        modifiers: [
            Super,
            Shift,
        ],
        key: "s",
    ): System(Screenshot),
}{{ else }}{
    (
        modifiers: [],
        key: "Print",
    ): Disable,
    (
        modifiers: [],
        key: "XF86PowerOff",
    ): System(LogOut),
    (
        modifiers: [
            Super,
        ],
        key: "p",
    ): System(DisplayToggle),
    (
        modifiers: [],
        key: "XF86Launch3",
    ): System(PowerOff),
    (
        modifiers: [
            Super,
            Shift,
        ],
        key: "s",
    ): System(Screenshot),
}{{ end }}